<%- include('./partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Nous somme navrés une erreur c'est produte veuillez réessayer plus tard.</h1>
    </div>
  </div>
</div>
<%- include('./partials/footer')-%>